{% extends "layout.html.twig" %}

{% block title %}A propos de l'auteur{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 about">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-header text-center">Qui est Jean Forteroche ?</h1>
                </div>
            </div>
            <div class="row">
                <figure class="col-md-3 col-sm-12 col-xs-12">
                    <img src="{{ asset('img/man2.jpg') }}" alt="Jean Forteroche">
                </figure>
                <aside class="col-md-9 col-sm-12 col-xs-12">
                    <p>
                        Bonjour, je suis Jean Forteroche. Romancier depuis 20 ans j'exerce ma passion et j'aime la partager. C'est pourquoi j'ai créé ce blog, afin de vous partager en temps réel mes créations.
                    </p>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                    <p>
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                    </p>
                    <p>
                        Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
                    </p>
                    <p>
                        Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                    </p>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    </p>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}