{% extends 'layout_admin.html.twig' %}
{% set adminMenu = true %}

{% block content %}
    <h1 class="text-center">{{ block('title') }}</h1>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>NOM complet : {{ message.name }}</p>
                <p>E-mail : {{ message.email }}</p>
                <p>Message :</p>
                <blockquote>
                    {{ message.message }}
                </blockquote>
            </div>
        </div>
    </div>
{% endblock %}