{% extends "layout_admin.html.twig" %}
{% set adminMenu = true %}
{% block title %}Administration{% endblock %}
{% block stylesheets %}
    <style>
        body {
            background: #eee;
            background-image: none;
        }
    </style>
{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#chapitres" data-toggle="tab">Chapitres</a></li>
                <li><a href="#comments" data-toggle="tab">Commentaires</a></li>
                <li><a href="#users" data-toggle="tab">Utilisateurs</a></li>
                <li><a href="#messages" data-toggle="tab">Messages</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active adminTable" id="chapitres">
            {% if chapitres %}
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Résumé</th>
                            <th>Publié</th>
                            <th></th>  <!-- Actions column -->
                        </tr>
                        </thead>
                        {% for chapitre in chapitres %}
                            <tr>
                                <td><a class="chapitreTitle" href="">{{ chapitre.title }}</a></td>
                                <td>{% if chapitre.summary is not null %}
                                        {{ chapitre.summary | truncate(80) | raw }}
                                    {% else %}
                                        Pas de résumé pour ce chapitre.
                                    {% endif %}
                                </td>
                                <td>
                                    {% if chapitre.published == false %}
                                        Non
                                    {% else %}
                                        Oui
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('admin_chapitre_edit', { 'id': chapitre.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#articleDialog{{ chapitre.id }}"><span class="glyphicon glyphicon-remove"></span>
                                    </button>

                                    {% if chapitre.published == true %}
                                        <a href="{{ path('admin_chapitre_offline', {'id': chapitre.id}) }}"><button class="btn btn-danger">Mettre hors-ligne</button></a>
                                    {% endif %}

                                    <div class="modal fade" id="articleDialog{{ chapitre.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez-vous vraiment supprimer ce chapitre ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                    <a href="{{ path('admin_chapitre_delete', { 'id': chapitre.id }) }}" class="btn btn-danger">Confirmer</a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning">Aucun chapitre.</div>
            {% endif %}
            <a href="{{ path('admin_chapitre_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un chapitre</button></a>
        </div>
        <div class="tab-pane fade adminTable" id="comments">
            {% if comments %}
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Auteur</th>
                            <th>Commentaire</th>
                            <th>Signalements</th>
                            <th>Likes</th>
                            <th></th>  <!-- Actions column -->
                        </tr>
                        </thead>
                        {% for comment in comments %}
                            <tr class="alert {% if comment.signals > 0 %}alert-danger{% endif %}">
                                <td>{{ comment.pseudo }}</td>
                                <td>{{ comment.content | truncate(60) }}</td>
                                <td>{{ comment.signals }}</td>
                                <td>{{ comment.likes }}</td>
                                <td>
                                    <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez-vous vraiment supprimer ce commentaire ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                    <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}" class="btn btn-danger">Confirmer</a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </td>
                                <td>
                                    {% if comment.signals > 0 %}
                                        <button type="button" class="btn btn-warning btn-xs" title="Unsignal it" data-toggle="modal" data-target="#commentDialog2{{ comment.id }}">
                                            <span class="fa fa-flag"></span> Supprimer signalements
                                        </button>
                                    {% endif %}
                                    <div class="modal fade" id="commentDialog2{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Supprimer les signaux pour ce commentaire ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                    <a href="{{ path('admin_comment_unsignal', { 'id': comment.id }) }}" class="btn btn-danger">Confirmer</a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning">Aucun commentaire.</div>
            {% endif %}

        </div>
        <div class="tab-pane fade adminTable" id="users">
            {% if users %}
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Rôle</th>
                            <th></th>  <!-- Actions column -->
                        </tr>
                        </thead>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</a></td>
                                <td>
                                    {% if user.role == 'ROLE_ADMIN' %}
                                        Administrateur
                                    {% else %}
                                        Utilisateur
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                    {% if user.slug != 'jean-forteroche' %}
                                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog{{ user.id }}"><span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    {% endif %}

                                    <div class="modal fade" id="userDialog{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez-vous vraiment supprimer cet utilisateur ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                    <a href="{{ path('admin_user_delete', { 'id': user.id }) }}" class="btn btn-danger">Confirmer</a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning">Aucun utilisateur.</div>
            {% endif %}
            <a href="{{ path('admin_user_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un utilisateur</button></a>
        </div>
        <div class="tab-pane fade adminTable" id="messages">
            {% if users %}
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Message</th>
                            <th>Date</th>
                            <th>Gestion</th>  <!-- Actions column -->
                        </tr>
                        </thead>
                        {% for message in messages %}
                            <tr>
                                <td>{{ message.name }}</a></td>
                                <td>{{ message.email }}</td>
                                <td>{{ message.message|slice(0,50) }}</td>
                                <td>{{ message.dateCreation }}</td>
                                <td>
                                    <a href="{{ path('admin_message', {'id': message.id}) }}">
                                        <button class="btn btn-primary">Lire le message</button>
                                    </a>
                                    <button type="button" class="btn btn-danger" title="Delete" data-toggle="modal" data-target="#messageDialog{{ message.id }}"><span class="glyphicon glyphicon-remove"></span> Supprimer le message
                                    </button>

                                    <div class="modal fade" id="messageDialog{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation requise</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez-vous vraiment supprimer ce message ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                                    <a href="{{ path('admin_message_delete', { 'id': message.id }) }}" class="btn btn-danger">Confirmer</a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="alert alert-warning">Aucun message.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
