{% extends "layout.html.twig" %}

{% block title %}Tous les Chapitres{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 chapitres">
            {% if chapitres is not null %}
                <h1 class="page-header">Tous les chapitres</h1>
                <section class="row">
                    {% for chapitre in chapitres %}
                        <article class="col-sm-12 col-md-4 col-lg-3">
                            <h2><a class="articleTitle" href="{{ path('chapitre', { 'slug': chapitre.slug }) }}">{{ chapitre.title }}</a></h2>
                            <p>
                                {% if chapitre.summary is not null %}
                                    {{ chapitre.summary }}
                                {% else %}
                                    {{ chapitre.content|slice(0,50)|raw }}
                                {% endif %}
                            </p>
                            <a href="{{ path('chapitre', { 'slug': chapitre.slug }) }}">
                                <button class="btn btn-primary">Lire</button>
                            </a>
                        </article>
                    {% endfor %}
                </section>
            {% else %}
                <p class="page-header">Aucun chapitre disponible...</p>
            {% endif %}

            <ul class="pagination">
                {% for page in pages %}
                    <li {% if page == current %} class="active" {% endif %}><a href="{{ path('chapitres', {'id': page}) }}">{{ page }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}