{% extends "layout.html.twig" %}

{% block title %}Chapitre {{ chapitre.title }}{% endblock %}

{% block content %}

    <div class="row chapitre">
        <div class="col-xs-12">
            <h1 class="text-center">{{ chapitre.title }}</h1>
            <p class="text-center summary">{{ chapitre.summary|raw }}</p>
            <p class="text-justify content">{{ chapitre.content|raw }}</p>
        </div>
        <div class="comments">
            <div class="col-xs-12">
                <h3>Commentaires</h3>
                {% for comment in comments %}
                    <p><i>{{ comment.pseudo }}</i> a commenté : {{ comment.content }}</p>
                    <a href="{{ path('signaler', { 'id': comment.id, 'chapitre': chapitre.slug }) }}" class="btn btn-danger"><i class="fa fa-flag"></i> Signaler ! {{ comment.signals }}</a>
                    <a href="{{ path('liker', { 'id': comment.id, 'chapitre': chapitre.slug }) }}" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> J'aime ! {{ comment.likes }}</a>
                {% else %}
                    <p>Aucun commentaire pour ce chapitre.</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row comments">
    </div>

    <div class="comment_form">
        <h3>Ajouter un commentaire</h3>
        {{ form_start(commentForm, { 'attr': {'id':"comment_form"}}) }}
        <fieldset class="form-group">
            {{ form_widget(commentForm.pseudo, { 'attr':  {
                'class': 'form-control',
                'placeholder': "Votre nom"
            }}) }}
            {% if form_errors(commentForm.pseudo) %}
                <div class="alert alert-warning alert-dismissible show" role="alert">
                    {{ form_errors(commentForm.pseudo) }}
                </div>
            {% endif %}
        </fieldset>
        <fieldset class="form-group">
            {{ form_widget(commentForm.content, { 'attr':  {
                'rows': '4',
                'class': 'form-control',
                'placeholder': "Votre commentaire"
            }}) }}
            {% if form_errors(commentForm.content) %}
                <div class="alert alert-warning alert-dismissible show" role="alert">
                    {{ form_errors(commentForm.content) }}
                </div>
            {% endif %}
        </fieldset>
        {{ form_widget(commentForm.signals) }}
        {{ form_widget(commentForm.likes) }}
        <fieldset class="form-group">
            {{ form_widget(commentForm.submit) }}
        </fieldset>
        {{ form_end(commentForm) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        var form = $("#comment_form");
        form[0].value = "";
        $(function () {
            $("input").val('');
            $("textarea").val('');
        })
    </script>
{% endblock %}