{% extends 'layout_admin.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="col-xs-12 admin_chapitre">
        {{ form_start(chapitreForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">
            {{ form_label(chapitreForm.title, null, { 'label_attr':  {
                'class': 'col-sm-12'
            }}) }}
            <div class="col-sm-12">
                {{ form_widget(chapitreForm.title, { 'attr':  {
                    'class': 'form-control'
                }}) }}
                {% if form_errors(chapitreForm.title) %}
                    <div class="alert alert-warning alert-dismissible show" role="alert">
                        {{ form_errors(chapitreForm.title) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(chapitreForm.summary, null, { 'label_attr':  {
                'class': 'col-sm-12'
            }}) }}
            <div class="col-sm-12">
                {{ form_errors(chapitreForm.summary) }}
                {{ form_widget(chapitreForm.summary, { 'attr':  {
                    'class': 'form-control',
                    'rows': '4'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(chapitreForm.content, null, { 'label_attr':  {
                'class': 'col-sm-12'
            }}) }}
            <div class="col-sm-12">
                {{ form_errors(chapitreForm.content) }}
                {{ form_widget(chapitreForm.content, { 'attr':  {
                    'class': 'form-control wysiwyg',
                    'rows': '8'
                }}) }}
                {% if form_errors(chapitreForm.content) %}
                    <div class="alert alert-warning alert-dismissible show" role="alert">
                        {{ form_errors(chapitreForm.content) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(chapitreForm.published, null, { 'label_attr':  {
                'class': 'col-sm-12'
            }}) }}
            <div class="col-sm-12">
                {{ form_errors(chapitreForm.published) }}
                {{ form_widget(chapitreForm.published) }}
                {% if form_errors(chapitreForm.published) %}
                    <div class="alert alert-warning alert-dismissible show" role="alert">
                        {{ form_errors(chapitreForm.published) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" name="submit" value="Enregistrer le chapitre">
            </div>
        </div>
        {{ form_end(chapitreForm) }}
    </div>
{% endblock %}
{% block javascripts %}
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=91n4hwq1jkho06rw6qrrmr8kiw3g3d8kc01cjnitvubyspoo"></script>
    <script src="{{ asset('bower/tinymce/fr_FR.js') }}"></script>
<script>
    tinymce.init({
        selector:'.wysiwyg',
        language: 'fr_FR',
        language_url: '/languages/fr_FR.js'
    });
</script>
{% endblock %}