{% extends 'layout_admin.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well">
        {{ form_start(commentForm, { 'attr': {'id': 'comment_form'} }) }}
        <fieldset class="form-group">
            {{ form_label(commentForm.content, null, { 'label_attr':  {
                'class': 'col-sm-12'
            }}) }}
            <div class="col-sm-12">
                {% if form_errors(commentForm.content) %}
                    <div class="alert alert-warning alert-dismissible show" role="alert">
                        {{ form_errors(commentForm.content) }}
                    </div>
                {% endif %}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': "Modifiez le commentaire"
                }}) }}
            </div>
        </fieldset>
        <fieldset class="form-group">
            {{ form_label(commentForm.pseudo) }}
            {% if form_errors(commentForm.pseudo) %}
                <div class="alert alert-warning alert-dismissible show" role="alert">
                    {{ form_errors(commentForm.pseudo) }}
                </div>
            {% endif %}
            {{ form_widget(commentForm.pseudo) }}
        </fieldset>
        <div class="form-group">
            {{ form_widget(commentForm.signals, {'attr': {'value': comment.signals}}) }}
            {{ form_widget(commentForm.likes, {'attr': {'value': comment.likes}}) }}
        </div>
        <fieldset class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                {{ form_widget(commentForm.submit) }}
            </div>
        </fieldset>
        {{ form_end(commentForm) }}
    </div>
{% endblock %}