{% extends "layout.html.twig" %}

{% block title %}Contacter l'auteur{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header text-center">Contacter Jean Forteroche</h1>
        </div>
    </div>
    <div class="row contact_form">
        <div class="col-xs-12">
            {{ form_start(form) }}
            <fieldset class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {% if form_errors(form.name) %}
                    <div class="alert alert-warning alert-dismissible show" role="alert">
                        {{ form_errors(form.name) }}
                    </div>
                {% endif %}
            </fieldset>
            <fieldset class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {% if form_errors(form.email) %}
                    <div class="alert alert-warning alert-dismissible show" role="alert">
                        {{ form_errors(form.email) }}
                    </div>
                {% endif %}
            </fieldset>
            <fieldset class="form-group">
                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}
                {% if form_errors(form.message) %}
                    <div class="alert alert-warning alert-dismissible show" role="alert">
                        {{ form_errors(form.message) }}
                    </div>
                {% endif %}
            </fieldset>
            <fieldset class="form-group">
                {{ form_widget(form.submit) }}
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $("input").val('');
            $("textarea").val('');
        });
    </script>
{% endblock %}