{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1 class="text-center">Derniers chapitres publiés</h1>
    <div class="col-xs-12 last_articles">
        {% for chapitre in chapitres %}
            <article>
                <h2><a href="{{ path('chapitre', { 'slug': chapitre.slug }) }}">{{ chapitre.title }}</a></h2>
                {% if chapitre.summary is not null %}
                    <p>{{ chapitre.summary }}</p>
                {% else %}
                    <p>{{ chapitre.content|slice(0,50)|raw }}</p>
                {% endif %}
                <a href="{{ path('chapitre', { 'slug': chapitre.slug }) }}"><button class="button">Lire l'article</button></a>
            </article>
        {% endfor %}
    </div>
{% endblock %}