html, body {
    position: relative;
    width: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-top: 50px;
}

a:hover, a:focus {
    text-decoration: none;
}

.button {
    padding: 15px 20px;
    background-color: #FFFF00;
    color: #000080;
    border: none;
    font-size: 15px;
}

.admin_chapitre {
    margin: 80px auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}