html, body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-image: url("../img/landscape3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    margin: 0 !important;
}
.full {
    width: 100%;
    min-height: 100%;
    position: relative;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}
h1 {
    color: white;
}
.last_articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
article {
    width: 30%;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 128, .7);
}
article h2 a {
    color: white;
}
article p {
    font-size: 15px;
    color: white;
}
.button {
    padding: 15px 20px;
    color: #000080;
    border: none;
    font-size: 15px;
}
/*.alert {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    height: 50px;
}*/

aside {
    background-color: rgba(0, 0, 128, .7);
    padding: 25px;
}
aside p {
    color: white;
    font-size: 17px;
}

.chapitre {
    background-color: rgba(0, 0, 0, .7);
    color: #fbf8ff;
    margin-top: 80px;
}
.chapitre p.summary {
    font-size: 20px;
    color: #cccccc;
}
.chapitre p.content {
    font-size: 18px;
}

.comments {
    margin-top: 50px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    height: auto;
}
.comment_form {
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin: 40px;
    padding: 40px;
}

.contact_form {
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 30px;
    margin: 30px;
}
a:hover, a:focus {
    text-decoration: none;
}

.footer {
    position: relative;
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}
.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 420px) {
    #wrapper {
        overflow-y: auto;
    }
    .last_articles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 80px;
    }
    .about {
        margin: 0 auto 80px auto;
    }
    .about img {
        width: 90%;
        margin: 50px auto;
    }
    article {
        width: 90%;
        padding: 15px;
        margin: 10px;
        background-color: rgba(0, 0, 128, .7);
    }
    .pagination {
        margin: 50px auto;
    }
    .comment_form {
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        color: white;
        margin: 30px auto;
        padding: 20px;
    }
    .contact_form {
        background-color: rgba(0,0,0,0.8);
        color: white;
        width: 100%;
        padding: 30px;
        margin: 30px auto;
    }

    .footer {
        position: relative;
        border-top: 1px solid #cccccc;
        background-color: #ffffff;
        padding: 20px;
        text-align: center;
    }
}